:root{
  --color-dark1: #262626;
  --color-dark2: #4d4c4c;
  --color-rosa1: #ffcfd8;
  --color-rosa2: #f7aebb;
  --color-vinho1: #56091f;
  --color-vermelho1: #f70000;
  --color-verde1: #249f37;
  --color-amarelo1: #f7d600;
  --color-azul1: #bcf8fa;  
}
/*Fontes Padrões do Sistema*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


.teste {
  width: 176px;
  height: 35px;
  background-color: var(--color-rosa1);
  font-family: roboto;
  font-size: medium;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-vinho1);
  border-radius: 10px;
}

.IconBasket {
  width: 22px;
  height: 22px;
  margin-left: 5px;
}