/*Cores Padrões do Sistema*/
:root{
  --color-dark1: #262626;
  --color-dark2: #4d4c4c;
  --color-rosa1: #ffcfd8;
  --color-rosa2: #f7aebb;
  --color-vinho1: #56091f;
  --color-vermelho1: #f70000;
  --color-verde1: #249f37;
  --color-amarelo1: #f7d600;
  --color-azul1: #bcf8fa;  
}

/*Fontes Padrões do Sistema*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

.container{
  font-family: Fira-Code;
}

.content-ad{
  height: 1rem;
  background-color: var(--color-dark1);
}
.header{
  background-color: var(--color-rosa1);
  height: 9rem;
  width: 118.45rem;
  display: flex;
  justify-content: center;
 

}
.header-content{
  width: 1280px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

}

.logo {
  height: 100%;
}
.busca{
  height: 2.8125rem;
  width: 48.5rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
  margin: 2rem 0px 0.3125rem 0px;
  background: url('assets/icons/ICON-LUPA.svg') no-repeat right 0.625rem center;
  background-size: 1.5rem 1.5rem;
  background-color: var(--color-dark1);
  color: var(--color-rosa1);
  font-size: 1rem;

}
.icons{
  display: Flex;
  align-items: center;
  gap: 1rem;
}

.icons .IconUser,
.icons .IconCesta,
.icons .IconFavoritos{
  cursor: pointer;  
} 

.localizacao{
  font-size: 14px;
  display: Flex;
  align-items: center;
  color: var(--color-vinho1);
  img{
    padding-right: 0.3125rem;
  } 
}



body {
  background-color: var(--color-dark1); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
.carousel {
  overflow: hidden;
  max-width: 1280px;
  width: 100%;
  padding: 20px;
  text-align: center;
  
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: 50%; 
}
.slide img {
  width: 1280px; 
  padding: 70px 0;
  text-align: center;
  
}
.prev,
.next {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  background: var(--color-vinho1);
  border-radius: 25%;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.prev {
  left: 1rem; 
}
.next {
  right: 1rem; 
}

.cardapio{
  width: 250px;
  height: 80px;
  margin-top: 35px;
  border-radius: 8px;
  background-color: var(--color-rosa1);
  color: var(--color-vinho1);
  font-family: roboto;
  font-size: medium;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.cardapio:hover{
  background-color: var(--color-rosa2);
}

.footer {
  height: 30px;
  margin-top: 40px; 
  text-align: center;
  background-color: var(--color-rosa1); 
}

